Checks: "
    cppcoreguidelines-*,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    -cppcoreguidelines-avoid-const-or-ref-data-members,
    -cppcoreguidelines-pro-type-vararg,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -cppcoreguidelines-avoid-c-arrays,
    -cppcoreguidelines-owning-memory,
    -cppcoreguidelines-narrowing-conversions,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    readability-*,
    -readability-identifier-length,
    -readability-function-cognitive-complexity,
    -readability-magic-numbers,
    -readability-qualified-auto,
    -readability-inconsistent-declaration-parameter-name,
    -readability-avoid-nested-conditional-operator,
    -readability-suspicious-call-argument,
    performance-*,
    -performance-unnecessary-value-param,
    -performance-inefficient-string-concatenation,
    -performance-enum-size,
    bugprone-*,
    -bugprone-easily-swappable-parameters,
    -bugprone-narrowing-conversions,
    -bugprone-empty-catch,
    google-*,
    -google-readability-todo,
    -google-runtime-int
  "